NEXT_PUBLIC_API_URL=http://localhost:5000
NEXT_PUBLIC_GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=AIzaSyD9X3KX3bY5u0k1Z8X5F2V87J3xQX9gU
NEXT_PUBLIC_GOOGLE_TRANSLATE_API_KEY=your_api_key_here